.userListingsContainer {
  margin-top: 82px;

  h2 {
    position: relative;
    font-size: 32px;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: -6px;

      width: 64px;
      border-bottom: 3px solid var(--purple-primary);
    }
  }

  .userListings {
    margin-top: 52px;

    .userListingsInner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 32px;
      column-gap: 32px;
      grid-row-gap: 60px;
      row-gap: 60px;

      h2::after {
        content: none;
      }
    }

    .deleteListingContainer {
      padding: 10px 4px;
      position: relative;

      .deleteListing {
        position: absolute;

        top: 0;
        right: -2px;
        z-index: 1;

        padding: 8px;
        box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          font-size: 24px;
          color: var(--purple-primary);
        }
      }
    }
  }

  div {
    box-shadow: none;
  }
}

.chevron {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;

  display: flex !important;
  align-items: center;
  justify-content: center;

  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;

  z-index: 1;

  &:hover {
    color: var(--purple-primary);
    background-color: #fff;
  }

  &:before {
    content: none !important;
  }

  &:first-of-type {
    svg {
      margin-right: 2px;
    }
  }

  &:last-of-type {
    svg {
      margin-left: 2px;
    }
  }
}
