.addContainer {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
  padding: 62px 90px 90px;

  h2 {
    font-weight: normal;
    text-align: center;
  }

  .formContainer {
    margin-top: 36px;
    padding: 38px 62px 45px;

    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    h2 {
      font-weight: bold;
      font-size: 28px;

      letter-spacing: 0.1px;

      color: var(--purple-primary);
    }

    .form {
      margin-top: 66px;

      .inputArea {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
      }

      .submitContainer {
        width: 100%;
        display: flex;
        justify-content: center;

        margin-top: 55px;

        .submitButton {
          background: var(--purple-primary);
          border-radius: 9.07965px;

          width: 100%;
          max-width: 513px;
          padding: 22px;

          font-weight: 500;
          font-size: 21px;
          line-height: 25px;

          color: #ffffff;
          cursor: pointer;

          transition: 0.2s ease-out;

          &:hover {
            transform: scale(0.98);
          }
        }
      }
    }
  }
}
